<link rel='stylesheet' type='text/css' href='http://190.16.39.171/style.css?v2.1' />
<img src="http://190.16.39.171/images/cataTwitterLogo.png"/>
<fb:tabs>
	<fb:tab-item href="http://apps.facebook.com/jcatalanapp/user.php" selected=True title="User" />
	<fb:tab-item href="http://apps.facebook.com/jcatalanapp/friends.php" title="Friends" align="right"/> 
	<fb:tab-item href="http://apps.facebook.com/jcatalanapp/dmessages.php" title="Direct Messages" align="right"/>
	<fb:tab-item href="http://apps.facebook.com/jcatalanapp/templates/invite.html" title="Invite Friends" align="left"/>
</fb:tabs>
</br><img src="http://190.16.39.171/images/ctlogo.png"/>
</br><p class="subtitle">Ingrese su estado nuevo</p> </br></br>
<div>
	<form method="get" action="postStatus.php">
				<textarea name="input_field" class="field"></textarea></br>
				<input class="submitButton" type="submit"/>
	</form>
</div>